<div class="col-md-12">
    <div class="features">
        <div class="feature feature-learning-algorithms">
            <div class="feature-header">Learning Algorithms</div>
            <div class="feature-items">
                <div class="feature-item">
                    <span>Data Structures</span>
                </div>
                <div class="feature-item">
                    <span>Counterexample Analysis</span>
                </div>
                <div class="feature-item">
                    <span>Automata</span>
                </div>
            </div>
        </div>
        <div class="feature feature-equivalence-queries">
            <div class="feature-header">Equivalence Queries</div>
            <div class="feature-items">
                <div class="feature-item">
                    <span>Conformance Tests</span>
                </div>
                <div class="feature-item">
                    <span>Search-based</span>
                </div>
                <div class="feature-item">
                    <span>Equivalence Tests</span>
                </div>
            </div>
        </div>
        <div class="feature feature-infrastructure">
            <div class="feature-header">Infrastructure</div>
            <div class="feature-items">
                <div class="feature-item">
                    <span>Caches</span>
                </div>
                <div class="feature-item">
                    <span>Parallelism</span>
                </div>
                <div class="feature-item">
                    <span>Import / Export</span>
                </div>
                <div class="feature-item">
                    <span>SUL Adapter</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>