<footer id="site-footer">
    <nav class="d-flex flex-row">
        <div class="container d-md-flex justify-content-end">
            <ul id="menu-footer" class="nav me-auto d-block d-md-flex nav-pills ">
                <li class="menu-item nav-item">
                    <a title="Team" href="{% link pages/team.md %}" class="nav-link">Team</a>
                </li>
                <li class="menu-item nav-item">
                    <a title="Contact" href="{% link pages/contact.md %}" class="nav-link">Contact</a>
                </li>
            </ul>
            <ul class="nav d-block d-md-flex">
                <li class="nav-item">
                    <a class="nav-link tu-link" href="http://ls5-www.cs.tu-dortmund.de" target="_blank">
                        <img style="height: 24px; margin-right: 8px; margin-top: -4px;" src="{{ '/assets/images/tu.png' | relative_url }}" alt="TU Dortmund logo">TU Dortmund University
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="copyright">
        <div class="container d-md-flex justify-content-end">
            <p class="me-auto">
                LearnLib | Licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0" title="Apache-2.0" target="_blank" rel="nofollow">Apache-2.0</a>.
            </p>
            <p>
                This site is open source. <a href="https://github.com/LearnLib/learnlib.github.io/tree/main/{{ page.path }}">Improve this page</a>.
            </p>
        </div>
    </div>
</footer>