body {
  background: $tertiary;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:not([href^="/"])::after {
  font-family: "FontAwesome";
  content: "\f08e";
  font-size: 0.7rem;
  margin-left: 3px;
  vertical-align: text-top;
  display: inline-block;
  text-decoration: none;
}

table {
  @extend .table;
}

table.releases {
  font-size: .85rem;
}

img {
  @extend .img-fluid;
}

pre {
  padding: 0.5rem;
  background-color: $gray-200;
  @extend .rounded;
}

pre > code {
  padding: 0;
}

code {
  padding: 0.2rem 0.4rem;
  background-color: $gray-200;
  @extend .highlight;
  @extend .rounded;
}

#site-header {
  background: url("/assets/images/header-soft.jpg");
  background-size: cover;
}

#content {
  background: $body-bg;
  padding: 3rem 0;
}

#content h2:first-of-type {
  margin-top: 0;
}

#content h2:not(:first-of-type) {
  padding-top: 2rem;
  border-top: 2px solid $border-color;
  margin-top: 2.5rem;
}

#site-footer {
  background: lighten($tertiary, 3%);
  color: $gray-600;
}

#site-footer nav {
  padding: 1rem 0;
}

#site-footer a {
  color: $gray-400;
}

#site-footer p {
  margin-bottom: 0;
}

#site-footer .tu-link {
  padding: .5rem 0;
}

#menu-footer .nav-link {
  padding: .5rem 2rem .5rem 0;
}

#copyright {
  padding: 1.5rem 0;
  background: $tertiary;
}