@import "bootstrap/variables";

// Variables
$purple-gradient: linear-gradient(0deg, rgba(117, 60, 199, 1) 0%, rgba(191, 139, 230, 1) 100%);
$green-gradient: linear-gradient(0deg, rgba(84, 166, 33, 1) 0%, rgba(161, 217, 64, 1) 100%);
$orange-gradient: linear-gradient(0deg, rgba(227, 138, 16, 1) 0%, rgba(240, 173, 9, 1) 100%);

.features {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    flex-direction: row;
  }

  .feature,
  .feature-items {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex-grow: 1;
    align-items: stretch;
  }

  .feature {
    &.feature-learning-algorithms {
      .feature-header,
      .feature-item {
        background: $purple-gradient;
      }
    }

    &.feature-equivalence-queries {
      .feature-header,
      .feature-item {
        background: $green-gradient;
      }
    }

    &.feature-infrastructure {
      .feature-header,
      .feature-item {
        background: $orange-gradient;
      }
    }
  }

  .feature-items {
    @media (min-width: map-get($grid-breakpoints, "sm")) {
      flex-direction: row;
    }
  }

  .feature-header,
  .feature-item {
    display: flex;
    color: $light;
    box-shadow: $box-shadow-sm;
    font-weight: 700;
    border-radius: $border-radius;
    font-size: 1rem;
  }

  .feature-header {
    justify-content: start;
    padding: 0.75rem 1.25rem;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      justify-content: center;
      padding: 1.25rem 0;
    }
  }

  .feature-item {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 2rem;
    opacity: 0.8;
    padding: 0.75rem 1.25rem;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      writing-mode: vertical-lr;
      margin-left: 0;
      opacity: 1;
      justify-content: center;
      padding: 1.25rem 0;

      span {
        transform: scale(-1, -1);
      }
    }
  }
}
