@import "bootstrap/variables";
@import "bootstrap/mixins";

#site-navigation {
  background: $tertiary;
  border-bottom: 3px solid $primary;
}

#site-navigation a {
  text-decoration: none;
}

#site-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#site-navigation ul li {
  display: inline-block;
}

#site-navigation ul li a {
  display: inline-block;
  padding: 1rem 1rem;
  color: $light;
}

#site-navigation .menu {
  display: inline-block;
}

#site-navigation .menu-item.active .sub-menu {
  display: block;
}

#site-navigation .menu-item.active > a {
  position: relative;
  background: darken($primary, 5%);
}

#site-navigation .menu-item-has-children > a:after {
  content: '»';
  margin-left: .5rem;
  display: inline-block;
  transition: transform .2s;
}

#site-navigation .menu-item-has-children.active > a:after {
  transform: rotate(90deg);
}

#site-navigation .sub-menu-wrapper {
  position: absolute;
  background: $primary;
  left: 0;
  width: 100%;
}

#site-navigation .sub-menu-wrapper .sub-menu {
  padding: .5rem 0;
}

#site-navigation .sub-menu-wrapper .sub-menu a {
  padding: .5rem .75rem;
  display: block;
}

#site-navigation .sub-menu {
  display: none;
}

#site-navigation .sub-menu-item.active {
  font-weight: 700;
}

#site-navigation .sub-menu a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#site-navigation .active .sub-menu a {
  @extend .rounded;
}

@include media-breakpoint-down(lg) {
  #site-navigation .menu {
    display: block;
  }

  #site-navigation .active {
    margin-bottom: 0;
  }

  #site-navigation .sub-menu-wrapper {
    position: relative;
  }

  #site-navigation ul, #site-navigation ul li, #site-navigation ul li a {
    position: relative;
    display: block;
  }
}

@include media-breakpoint-up(lg) {
  #site-navigation .menu-item.menu-item-has-children.active {
    margin-bottom: 3.5rem;
  }

  #site-navigation .menu-item-has-children:not(.active):hover {
    background: $light;
    & a {
      color: $body-color;
      &:after {
        transform: rotate(90deg);
      }
    }
    & .sub-menu-wrapper {
      display: block;
      position: absolute;
      z-index: 2;
      left: auto;
      width: auto;
      background: $light;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
      & .container {
        padding: 0;
      }
      & .sub-menu {
        padding: 0;
        display: block;
        & li {
          display: block;
          & a {
            padding: 1rem 1.5rem;
          }
        }
      }
    }
  }
}