---
layout: default
---

{{content}}

{%- if site.posts.size > 0 -%}
    {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts -%}
        <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
        </h2>
        <p>
            <span>{{ post.date | date: date_format }}</span>
            {%- if post.author -%}
                {% for author in post.author %}
                {%- if forloop.first == true %} • {% endif -%}
                <span>{{ author }}</span>
                {%- if forloop.last == false %}, {% endif -%}
            {% endfor %}
            {%- endif -%}
        </p>

        <p style="font-style: italic;">{{ post.content | strip_html | truncatewords: 50 }}</p>
    {%- endfor -%}
{%- endif -%}