<aside id="site-sidebar" class="widget-area">

    <section class="widget widget-unstyled widget_github">
        <a href="https://github.com/Learnlib/alex" target="_blank">
            <img src="{{ '/assets/images/github.svg' | relative_url }}"
                 style="height: 2em; width: 2em; margin-right: 1em;">ALEX @ GitHub
        </a>
    </section>

    <section class="widget">
        <h2 class="widget-title">ALEX</h2>
        <div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Version</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">2.1.1</span> Apr 21, 2021</td>
                    <td><a href="https://github.com/LearnLib/alex/releases/download/v2.1.1/docker-compose.alex-2.1.1.yml" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">2.0.0</span> Jun 12, 2020</td>
                    <td><a href="https://github.com/LearnLib/alex/releases/download/v2.0.0/alex-2.0.0.war" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">1.7.2</span> Jun 1, 2019</td>
                    <td><a href="https://github.com/LearnLib/alex/releases/download/v1.7.2/alex-1.7.2.war" target="_blank">Download</a></td>
                </tr>
                </tbody>
            </table>
            <strong>Related links</strong>
            <ul>
                <li><a href="https://learnlib.github.io/alex/" target="_blank">Homepage</a></li>
                <li><a href="https://learnlib.github.io/alex/book/2.1.0/" target="_blank">Documentation</a></li>
                <li><a href="https://learnlib.github.io/alex/book/2.1.0/contents/examples/wordpress/" target="_blank">Examples</a></li>
            </ul>
        </div>
    </section>

</aside>