<aside id="site-sidebar" class="widget-area">

    <div class="widget widget-unstyled widget_github">
        <a href="https://github.com/Learnlib/automatalib"><i class="icon icon-github icon-2x"></i>AutomataLib @ GitHub</a>
    </div>

    <section class="widget">
        <h2 class="widget-title">AutomataLib</h2>
        <div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Docs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.11.0</span> Nov 6, 2023</td>
                    <td><a href="http://learnlib.github.io/automatalib/maven-site/0.11.0/">API</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.10.0</span> Oct 11, 2020</td>
                    <td><a href="http://learnlib.github.io/automatalib/maven-site/0.10.0/">API</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.9.0</span> Feb 5, 2020</td>
                    <td><a href="http://learnlib.github.io/automatalib/maven-site/0.9.0/">API</a></td>
                </tr>
                </tbody>
            </table>
            <em>Also take a look at the <a href="{% link pages/version-history.md %}">downloads</a> page for the binaries of the
                different LearnLib versions.</em>
            <br>
            <strong>Related links</strong>
            <ul>
                <li><a href="https://github.com/LearnLib/automatalib/issues">Issue management</a></li>
                <li><a href="https://github.com/LearnLib/automatalib/discussions">Discussions</a></li>
            </ul>
        </div>
    </section>

</aside>