<aside id="site-sidebar" class="widget-area">

    <section class="widget widget-unstyled widget_github">
        <a href="https://github.com/Learnlib/learnlib" target="_blank">
            <img src="{{ '/assets/images/github.svg' | relative_url }}"
                 style="height: 2em; width: 2em; margin-right: 1em;">LearnLib @ GitHub
        </a>
    </section>

    <section class="widget">
        <h2 class="widget-title">LearnLib</h2>
        <div>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Version</th>
                    <th>Docs</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.17.0</span> Nov 15, 2023</td>
                    <td><a href="http://learnlib.github.io/learnlib/maven-site/0.17.0/" target="_blank">API</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.16.0</span> Oct 12, 2020</td>
                    <td><a href="http://learnlib.github.io/learnlib/maven-site/0.16.0/" target="_blank">API</a></td>
                </tr>
                <tr>
                    <td><span class="badge bg-secondary text-light align-text-top">0.15.0</span> Feb 6, 2020</td>
                    <td><a href="http://learnlib.github.io/learnlib/maven-site/0.15.0/" target="_blank">API</a></td>
                </tr>
                </tbody>
            </table>
            <em>Also take a look at the <a href="{% link pages/version-history.md %}">downloads</a> page for the binaries of the
                different LearnLib versions.</em>
            <br>
            <strong>Related links</strong>
            <ul>
                <li><a href="https://github.com/LearnLib/learnlib/issues" target="_blank">Issue management</a></li>
                <li><a href="https://github.com/LearnLib/learnlib/discussions" target="_blank">Discussions</a></li>
            </ul>
        </div>
    </section>

    <section class="widget">
        <h2 class="widget-title">Awards</h2>
        <div>
            <img class="mx-auto d-block"
                 src="{{ '/assets/images/artifact-badge.png' | relative_url }}" alt="" width="160" height="160">
            <p>LearnLib has been awarded with the CAV artifact award in 2015.</p>
        </div>
    </section>

</aside>